{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout_v' %}">Logout</a>
{% else %}
    <a href="{% url 'login_v' %}">Login </a>
{% endif %}

<hr>
<h1>My to do list</h1>

<a href="{% url 'task_create_v' %}">Add Task</a>

<form method='GET'>
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value='Search'>
</form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'detail_v' task.id %}">View</a></td>
        <td><a href="{% url 'task_update_v' task.id %}">Edit</a></td>
        <td><a href="{% url 'task_delete_v' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>