<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <div>
        <h1>Register</h1>
        <form action="." method='post'>
            {% csrf_token %}

            <div>
                <label>Iuserneim</label><br>
                {{ form.username }}
            </div>

            <div>
                <label>email</label><br>
                {{ form.email }}
            </div>

            <div>
                <label>password</label><br>
                {{ form.password1 }}
            </div>

            <div>
                <label>repeate password please</label><br>
                {{ form.password2 }}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div>
                    {% for field in form %}
                        {{ form.errors }}
                    {% endfor %}
                    
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <br>
            <button>Submit</button>

        </form>
    </div>
    
</body>
</html>